<div class="quiz-flashCard-wrapper" data-flash-card="<%= flash_card.id %>" data-colour="<%= flash_card.flash_card_category.colour %>">
  <div class="quiz-flashCard-textContainer">
    <h6><%= flash_card.title %></h6>
    <h5 class="quiz-categoryText"><%= flash_card.flash_card_category.name %></h5>
    <p><%= flash_card.question %>?</p>
    <div class="quiz-answer">
      <hr class="m-1">
      <%= flash_card.answer %>
    </div>
  </div>
  <div class="quiz-flashCard-answerCount">
    <span>Correct: <b class="quiz-correct"><%= flash_card.correct || "0" %></b></span>
    <span>Incorrect: <b class="quiz-incorrect"><%= flash_card.incorrect || "0" %></b></span>
  </div>
</div>
