<div class="technologyType-container">
  <h1 class="mt-5"><%= @technology.name.capitalize %></h1>
  <hr class="mb-4">

  <% if @technology.description.present? %>
    <%= @technology.description %>
  <% end %>

  <% if @technology&.icon_high_res&.present? %>
    <%= image_tag @technology.icon_high_res, class: "large-backgroundIcon" %>
  <% end %>

  <h5 class="my-3">Projects</h5>
  <% if @technology.projects.any? %>
    <% @technology.projects.each do |project| %>
      <div class="technologyShow-projectContainer">
        <%= project.name %>
        <div>
          <%= link_to "Read More", project_path(project), class: "main-button" %>
          <%= link_to "Visit Website", project.link, target: "_blank", class: "secondary-button" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No project examples currently available.</p>
  <% end %>

  <h5 class="my-3">Features</h5>
    <% if @technology.features.any? %>
    <% @technology.features.each do |feature| %>
      <div class="feature-container">
        <h6><%= feature.name %></h6>
        <p><%= feature.description %></p>
        <p><%= feature.project.name %></p>
        <% feature.technologies.each do |technolgy| %>
          <%= image_tag technolgy.icon, class: "feature-icon" %>
        <% end %>
        <b><%= feature.completed ? "Completed" : "In progress" %></b>
      </div>
    <% end %>
  <% else %>
    <p>No features currently available.</p>
  <% end %>
</div>

<%# Display a list of projects %>

<%# Display a list of features that use that technolgy - features is linked to a project %>

<%# Should a project be listed and then all the features listed underneath?? %>
