
<%= link_to "New", new_admin_flash_card_sub_category_path, class: "btn btn-success" %>

<h3>Sub Categories</h3>

<table class="table">
  <tr>
    <td>Name</td>
    <td>Flash Cards</td>
    <td>Actions</td>
  </tr>
  <% @flash_card_sub_categories.each do |flash_card_sub_category| %>
    <tr>
      <td><%= flash_card_sub_category.name %></td>
      <td><%= flash_card_sub_category.flash_cards.count %></td>
      <td>
        <%= link_to "Edit", edit_admin_flash_card_sub_category_path(flash_card_sub_category), class: "btn btn-info" %>
        <%= link_to "Delete", admin_flash_card_sub_category_path(flash_card_sub_category), class: "btn btn-danger", method: :delete, :data => {:confirm => 'Are you sure?', :method => "Delete"} %>
      </td>
    </td>
  <% end %>
</table>
