<div class="feature-container">
  <h6><%= feature.name %></h6>
  <p><%= feature.description %></p>
  <p><%= feature.project.name %></p>
  <% feature.technologies.each do |technolgy| %>
    <%= image_tag technolgy.icon, class: "feature-icon" %>
  <% end %>
  <b><%= feature.completed ? "Completed" : "In progress" %></b>
</div>
