<%= link_to feature_path(feature), class: "project-sectionContainer white-container" do %>
  <h6><%= feature.name %></h6>
  <p><%= feature.description %></p>
  <p><%= feature.project.name %></p>
  <% feature.technologies.each do |technology| %>
    <%= image_tag technology.icon, class: "feature-icon" %>
  <% end %>
  <b><%= feature.completed ? "Completed" : "In progress" %></b>
<% end %>
