<footer>
  <div class="footer-iconsContainer">
    <%= link_to "https://www.facebook.com/fordswebdevelopment", target: "_blank", class: "footer-icon" do %>
      <%= image_tag "icons/facebook.png" %>
    <% end %>
    <%= link_to "https://www.instagram.com/fordsdevelopment_projects/", target: "_blank", class: "footer-icon" do %>
      <%= image_tag "icons/instagram.png" %>
    <% end %>
     <%= link_to "https://twitter.com/alexfordsdev", target: "_blank", class: "footer-icon" do %>
      <%= image_tag "icons/twitter.png" %>
    <% end %>
  </div>
  <div class="footer-linksContainer">
    <%= link_to "Home", root_path %>
    <%= link_to "Projects", project_path(Project.first) %>
  </div>
</footer>
