<div class="navigation-linksContainer">
  <%= link_to projects_path, class: "nav-link" do %>
    <%= image_tag "icons/outline/projects.png" %>
    <span>Projects</span>
  <% end %>
  <%= link_to features_path, class: "nav-link" do %>
    <%= image_tag "icons/outline/feature_branch.png" %>
    <span>Features</span>
  <% end %>
  <%= link_to packages_path, class: "nav-link" do %>
    <%= image_tag "icons/outline/package.png" %>
    <span>Packages</span>
  <% end %>
</div>
<nav class="navigation-container">
  <div class="navigation-wrapper">
    <% @technologies.each do |technology| %>
      <%= link_to technology_path(technology.name) do %>
        <%= image_tag technology.icon, class: "nav-icon #{"nav-icon-active" if technology.name == params[:name] || @project&.technology_names&.include?(technology.name)}" %>
      <% end %>
    <% end %>
  </div>
</nav>
