<div class="flashCardCategoryAdmin-container">
  <div class="flashCardCategoryAdmin-wrapper">
    <div class="flashCardCategoryAdmin-categoryWrapper" style="border-left: solid 5px <%= category.colour %>">
      <div class="flashCardCategoryAdmin-titleContainer">
        <div class="flashCardCategoryAdmin-titleWrapper">
          <div>
            <h5 class="m-0"><%= category.name %></h5>
            <p class="text-secondary m-0"><%= category.parent&.name %></p>
          </div>
          <%= image_tag("quiz/icons/icons8-details-48.png", data: { bs_target: "#collapseCategory#{category.id}", bs_toggle: 'collapse' }, class: 'category-icon') %>
          <%= image_tag("quiz/icons/icons8-folder-tree-48.png", data: { bs_target: "#collapseSubCategory#{category.id}", bs_toggle: 'collapse' }, class: 'category-icon') %>
        </div>
        <div>
          <%= link_to edit_admin_flash_card_category_path(category) do %>
            <%= image_tag("quiz/icons/icons8-edit-row-48.png", class: 'category-icon') %>
          <% end %>
          <%= link_to admin_flash_card_category_path(category), method: :delete, :data => {:confirm => 'Are you sure?', :method => "Delete"} do %>
            <%= image_tag("quiz/icons/icons8-cancel-48.png", class: 'category-icon') %>
          <% end %>
        </div>
      </div>
      <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: <%= category.score %>%; background-color: <%= category.colour %>;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= category.score %>%</div>
        </div>

      <div class="collapse" id="collapseCategory<%= category.id %>">
        <div class="card card-body p-2">
          <h6 class="my-3">
            Flash Cards
            <%= link_to new_admin_flash_card_path do %>
              <%= image_tag("quiz/icons/icons8-add-48.png", class: 'category-icon') %>
            <% end %>
          </h6>


          <table class="table table-striped">
            <tr>
              <th>Title</th>
              <th>Correct</th>
              <th>Incorrect</th>
              <th>Actions</th>
            </tr>
            <% category.flash_cards.each do |flash_card| %>
              <tr>
                <td><%= flash_card.title.present? ? flash_card.title : 'ADD A TITLE' %></td>
                <td><%= flash_card.correct %></td>
                <td><%= flash_card.incorrect %></td>
                <td><%= link_to "Edit", edit_admin_flash_card_path(flash_card), class: "btn btn-info" %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div class="collapse" id="collapseSubCategory<%= category.id %>">
      <% category.children.each do |sub_category| %>
        <%= render partial: 'category', locals: { category: sub_category } %>
      <% end %>
      <div class="flashCardCategoryAdmin-container">
        <div class="flashCardCategoryAdmin-wrapper">
          <div class="flashCardCategoryAdmin-categoryWrapper" style="border-left: solid 5px #fff">
            <div class="flashCardCategoryAdmin-titleContainer">
              <div class="flashCardCategoryAdmin-titleWrapper">
                <div>
                  <h5 class="m-0">New Sub Category</h5>
                  <p class="text-secondary m-0"><%= category.name %></p>
                </div>
              </div>
              <div>
                <%= link_to new_admin_flash_card_category_path do %>
                  <%= image_tag("quiz/icons/icons8-add-48.png", class: 'category-icon') %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
