
<%= link_to "New", new_admin_flash_card_category_path, class: "btn btn-success" %>

<h3>Flash Cards</h3>

<table class="table">
  <tr>
    <td>Name</td>
    <td>Colour</td>
    <td>Actions</td>
  </tr>
  <% @flash_card_categories.each do |flash_card_category| %>
    <tr>
      <td><%= flash_card_category.name %></td>
      <td><div class="quiz-flashCardCategory-colour" style="background-color: <%= flash_card_category.colour %>;"></div></td>
      <td>
        <%= link_to "Edit", edit_admin_flash_card_category_path(flash_card_category), class: "btn btn-info" %>
        <%= link_to "Delete", admin_flash_card_category_path(flash_card_category), class: "btn btn-danger", method: :delete, :data => {:confirm => 'Are you sure?', :method => "Delete"} %>
      </td>
    </tr>
  <% end %>
</table>
