<div class="project-featuresContainer" id="shapeContainer">
  <div class="project-featuresWrapper">
    <div class="project-featuresWrapper">
      <div class="project-featuresRow">
        <%= render partial: "feature", locals: {title: "HELLO!", description: "NICE TO SEE A REAL DEV", art: true} %>
        <div class="project-featureShapeWrapper">
          <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
          <h3 class="project-featureTitle">The Title</h3>
          <p class="project-featureSubTitle">This will be the text on the card.</p>
        </div>
        <div class="project-featureShapeWrapper project-featureArt">
          <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
          <h3 class="project-featureTitle">The Title</h3>
          <p class="project-featureSubTitle">This will be the text on the card.</p>
        </div>
      </div>
    </div>
    <div class="project-featuresRowOffSet">
      <div class="project-featureShapeWrapper project-featureArt">
        <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
        <h3 class="project-featureTitle">The Title</h3>
        <p class="project-featureSubTitle">This will be the text on the card.</p>
      </div>
      <div class="project-featureShapeWrapper">
        <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
        <h3 class="project-featureTitle">The Title</h3>
        <p class="project-featureSubTitle">This will be the text on the card.</p>
      </div>
      <div class="project-featureShapeWrapper">
        <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
        <h3 class="project-featureTitle">The Title</h3>
        <p class="project-featureSubTitle">This will be the text on the card.</p>
      </div>
      <div class="project-featureShapeWrapper project-featureArt">
        <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
        <h3 class="project-featureTitle">The Title</h3>
        <p class="project-featureSubTitle">This will be the text on the card.</p>
      </div>
    </div>
  </div>
  <div class="project-featuresWrapper">
    <div class="project-featuresRow">
       <div class="project-featureShapeWrapper project-featureArt">
        <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
        <h3 class="project-featureTitle">The Title</h3>
        <p class="project-featureSubTitle">This will be the text on the card.</p>
      </div>
      <div class="project-featureShapeWrapper">
        <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
        <h3 class="project-featureTitle">The Title</h3>
        <p class="project-featureSubTitle">This will be the text on the card.</p>
      </div>
      <div class="project-featureShapeWrapper project-featureArt">
        <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
        <h3 class="project-featureTitle">The Title</h3>
        <p class="project-featureSubTitle">This will be the text on the card.</p>
      </div>
    </div>
  </div>
</div>
