<div class="homeHeader-container">
  <div class="homeHeader-textContainer">
    <h1>Welcome!</h1>

    <p class="homeHeader-text">Here are a list of all my projects and features I've completed or I'm currently working on.
    In the navigation are a list of all the technologies I've used with examples to my projects and
    features where an example of my work can be seen.</p>

    <%= link_to "View my projects", project_path(Project.first), class: "callToAction-buttonMain" %>
    <%= link_to "Read more", "#aboutMe", class: "callToAction-buttonSecondary" %>
  </div>
  <div class="homeHeader-featureContainer">
    <p>Some feature using canvas</p>
  </div>
</div>

<h2>Technologies</h2>
<hr>

<% TechnologyType.all.each do |technology_type| %>
  <%# Change about me link to be smooth scroll using js %>
  <h4 class="mt-3" id="aboutMe"><%= technology_type.name %></h4>
  <div class="d-flex justify-content-start">
    <%# TODO add on scroll animation %>
    <% technology_type.technologies.each do |technology| %>
      <%= render partial: "technology", locals: {technology: technology} %>
    <% end %>
  </div>
<% end %>

<%= javascript_pack_tag "aos" %>

<h2>Overview on my projects</h2>
<hr>

<table>
  <tr>
    <th>Name</th>
    <th>Theme</th>
    <th>Audience</th>
    <th>About</th>
    <th>Actions</th>
  </tr>
  <% Project.all.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.name %></td>
      <td><%= project.name %></td>
      <td><%= project.name %></td>
      <td><%= link_to "Read more", project_path(project) %></td>
    </tr>
  <% end %>
</table>
