<div class="content-inset">
  <div class="homeHeader-container">
      <%= render partial: "canvas_feature" %>
    <div class="homeHeader-textContainer">
      <h1 class="welcome-text">Welcome!</h1>

      <p class="text-lightGrey">Here are a list of all my projects and features I've completed or I'm currently working on.
      In the navigation are a list of all the technologies I've used with examples of my work.</p>

      <div class="home-buttonsContainer">
        <%= link_to "View my projects", project_path(Project.first), class: "callToAction-buttonMain" %>
        <%= link_to "Read more", "#aboutMe", class: "callToAction-buttonSecondary" %>
        <div class="firework-button" id="fireworkButton">
          <%= image_tag "icons/firework.png" %>
        </div>
      </div>
    </div>
    <div class="homeHeader-featureContainer">
    </div>
  </div>
</div>

<div class="content-inset">
  <h1 class="title">Technologies</h1>

  <div class="home-technologyTypeContainer">
    <% TechnologyType.all.each do |technology_type| %>
      <%# Change about me link to be smooth scroll using js %>
      <h4 class="mt-4 home-technologyTypeName" id="aboutMe" data-aos-left="slow"><%= technology_type.name %></h4>
      <div class="home-technologiesContainer">
        <% technology_type.technologies.each do |technology| %>
          <%= render partial: "/shared/technology", locals: {technology: technology} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="home-projectsSection">
  <div class="content-inset">
    <h1 class="title">Projects</h1>

    <div class="home-projectsContainer">
      <% @projects.each do |project| %>
        <%= render partial: "project", locals: {project: project} %>
      <% end %>
    </div>
  </div>
</div>

<div class="home-featuresSection py-5">
  <div class="content-inset">
    <h1 class="title">Features</h1>

    <div class="home-featuresContainer">
      <% @features.each do |feature| %>
        <%= render partial: "shared/feature", locals: {feature: feature} %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :extra_js do %>
<%# TODO fix aos for "features" and bottom projects  %>
  <%= javascript_pack_tag "home/aos" %>
  <%= javascript_pack_tag "home/projects" %>
<% end %>

