<%= form_with(model: [:admin, project]) do |form| %>

  <div class="form-group">
    <%= form.label :order %>
    <%= form.text_field :order, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :visible %>
    <%= form.check_box :visible, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :sub_title %>
    <%= form.text_field :sub_title, class: "form-control" %>
  </div>

  <p>#mainthemecolour, #secondarythemecolour, #other, #other</p>
  <div class="form-group">
    <%= form.label :theme_colours %>
    <%= form.text_field :theme_colours, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :link %>
    <%= form.text_field :link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :logo %>
    <%= render partial: "/admin/shared/radio_image_select", locals: {file_path: "app/assets/images/logos/*", attribute: :logo, form: form} %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= render partial: "/admin/shared/radio_image_select", locals: {file_path: "app/assets/images/illustrations/*", attribute: :image, form: form} %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ux %>
    <%= form.text_area :ux, class: "form-control" %>
  </div>

  <hr>

  <h4>Technologies</h4>

  <div class="admin-technologyOptionsContainer">
    <% Technology.all.each do |technology| %>
      <div class="form-group">
        <%= image_tag technology.icon %>
        <%= label_tag technology.name %>
        <%= check_box_tag "[technologies][#{technology.name}]", {}, project.technology_names.include?(technology.name) %>
      </div>
    <% end %>
  </div>

  <hr>

  <h4>Packages</h4>

  <div class="admin-technologyOptionsContainer">
    <% Package.all.each do |package| %>
      <div class="form-group">
        <%= label_tag package.name %>
        <%= check_box_tag "[packages][#{package.id}]", {}, project.package_names.include?(package.name) %>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="actions">
  <%= form.submit class: "btn btn-success w-100 mt-3" %>
  </div>

<% end %>

