<div class="project-featuresContainer" id="shapeContainer">
  <div class="project-featuresWrapper">
    <div class="project-featuresRow">
      <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
      <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
      <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
    </div>
    <div class="project-featuresRowOffSet">
      <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
      <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
      <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
      <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
    </div>
  </div>
  <div class="project-featuresWrapper">
    <div class="project-featuresRow">
      <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
      <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
      <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
    </div>
  </div>
</div>
