<% @projects.each do |project| %>
  <div class="d-flex justify-content-center">
    <div class="page-border">
      <h1 class="project-title my-4"><%= project.name %></h1>

      <div class="project-pageContainer">
        <div class="project-sectionWrapper project-descriptionContainer">
          <p>1 / 6</p>
          <h4>Completed features</h4>
          <% project.completed_features.each do |feature| %>
            <p><%= feature.name %></p>
          <% end %>

          <h4>Features left to implement</h4>
          <% project.features_left_to_implement.each do |feature| %>
            <p><%= feature.name %></p>
          <% end %>
        </div>
        <div class="project-sectionWrapper project-imageContainer">
          <%# TODO Add spinning dashed boarders %>
          <div class="project-imageWrapper">
            <%= image_tag project.image || "example.png", class: "project-image" %>
          </div>
        </div>
        <div class="project-sectionWrapper">
          <p><%= project.description %></p>
          <p>Start date: from github</p>
          <p>Commits: from github</p>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-4">
        <%= link_to "Vist Website", project.link, class: "btn btn-info", target: "_blank" %>
        <%= link_to "Read More", project.link, class: "btn btn-info", target: "_blank" %>
      </div>

      <div class="project-technologiesContainer">
        <% project.technology_groups.each do |technology_group| %>
          <%= render partial: "/shared/technology", locals: {technology: technology_group.technology} %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
