<div class="d-flex justify-content-center mt-4">
  <h5 class="project-count"><%= @project.order %>/<%= Project.count %></h5>
</div>

<%= render partial: "navigation" %>

<div class="content-inset">
  <div class="project-landingContainer row">
    <div class="col-6 d-flex justify-content-center">
      <%= render partial: "logo" %>
    </div>
    <div class="col-6">
      <h1 class="project-name"><%= @project.name %></h1>
      <h4 style="color: <%= @project.theme_colour_first %>"><%= @project.sub_title %></h4>
      <p class="text-secondary"><%= @project.description %></p>
      <%= link_to "Visit site", @project.link, target: "_blank", class: "callToAction-buttonMain", style: "background-color: #{@project.theme_colour_first}" %>
    </div>
  </div>
</div>

<div class="content-inset">
  <div class="d-flex justify-content-center">
    <% @project.technologies.each do |technology| %>
      <%= render partial: "/shared/technology", locals: {technology: technology} %>
    <% end %>
  </div>

  <h3>Features</h3>
  <div class="features-container">
    <% @project.completed_features.each do |feature| %>
      <%= render partial: "/shared/feature", locals: {feature: feature} %>
    <% end %>
  </div>

  <%# Add the background feature to light up hex shapes %>

  <h3>UX/UI</h3>
  <div class="row m-0 p-0 mt-3">
    <div class="col-2 p-2">
      <div class="project-sectionContainer">
        <h4>Theme</h4>
        <% if @project.theme_colours.present? %>
          <% @project.theme_colours.split(",").each do |theme| %>
            <div class="themeWrapper" style="background-color: <%= theme %>"></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-6 p-2">
      <div class="project-sectionContainer">
        <h4>UX</h4>
      </div>
    </div>
    <div class="col-4 p-4">
      <%= image_tag @project.image || "example.png", class: "project-image" %>
    </div>

    <h3>Github</h3>
    <div class="col-12 p-2">
      <div class="project-sectionContainer">
        <h4>Github</h4>
        <p>Commits: <%= @commits %></p>
        <%= link_to "Repository", root_path %>
      </div>
    </div>
  </div>
</div>


<% content_for :extra_js do %>
  <%= javascript_pack_tag "aos" %>
  <%= javascript_pack_tag "project" %>
<% end %>

