<div class="content-inset">
  <div class="project-landingContainer row">
    <div class="col-6">
      <div class="project-imagesContainer">
        <%= image_tag @project.logo || "example.png", class: "project-imageSmall white-container" %>
        <%= image_tag @project.image || "example.png", class: "project-imageMedium white-container" %>
        <%= image_tag @project.image || "example.png", class: "project-imageLarge white-container" %>
      </div>
    </div>
    <div class="col-6">
      <h1 class="project-name"><%= @project.name %></h1>
      <p style="color: <%= @project.theme_colour_first %>" class="project-subtitle"><%= @project.sub_title %></p>
      <p class="text-secondary"><%= @project.description %></p>
      <%= link_to "Visit site", @project.link, target: "_blank", class: "callToAction-buttonMain" %>
    </div>
  </div>
</div>

<div class="content-inset">
  <div class="d-flex justify-content-center my-5">
    <% @project.technologies.each do |technology| %>
      <%= render partial: "/shared/technology", locals: {technology: technology} %>
    <% end %>
  </div>


  <%# TODO change models to use name or title! %>
  <div class="project-uxGithubContainer">
    <div class="project-uxGithubWrapper white-container">
      <%= image_tag "icons/outline/feature_branch.png", class: "project-uxGithubIcon" %>
      <h3>Features</h3>
      <% @project.completed_features.each do |feature| %>
        <dl class="project-planslist">
          <dt><%= feature.name %></dt>
          <dd><%= feature.description %></dd>
          <dd>
            <% feature.technologies.each do |technology| %>
              <%= image_tag technology.icon, class: "project-featureTechnology" %>
            <% end %>
          </dd>
        </dl>
      <% end %>
    </div>
    <div class="project-uxGithubWrapper white-container">
      <%= image_tag "icons/outline/idea.png", class: "project-uxGithubIcon" %>
      <h3>Plans</h3>
      <% @project.plans.each do |plan| %>
        <dl class="project-planslist">
          <dt><%= plan.title %></dt>
          <dd><%= plan.description %></dd>
        </dl>
      <% end %>
    </div>
  </div>


    <div class="project-uxGithubWrapper my-3 white-container">
    <%= image_tag "icons/outline/github.png", class: "project-uxGithubIcon" %>
    <h3>Github</h3>
    <% @project.completed_features.each do |feature| %>
      <dl class="project-planslist">
        <dt><%= feature.name %></dt>
        <dd><%= feature.description %></dd>
        <dd>
          <% feature.technologies.each do |technology| %>
            <%= image_tag technology.icon, class: "project-featureTechnology" %>
          <% end %>
        </dd>
      </dl>
    <% end %>
  </div>


</div>

<% content_for :extra_js do %>
  <%= javascript_pack_tag "project/aos" %>
<% end %>

