<div class="flashCardCategoryStat-container border col-md-6 p-3 mb-5" style="background-color: <%= category.colour %>;">
      <h2><%= category.name %></h2>
      <%= render partial: 'category_progress', locals: { category: category } %>
      <hr>

      <h6>Category flash cards <%= category.flash_cards.count %></h6>
      <p>Flash cards asnswered correctly <%= category.correct_flash_cards %></p>
      <p>Flash cards answered incorrectly <%= category.incorrect_flash_cards %></p>
      <hr>
      <p>Category total flash cards <%= category.total_flash_cards_count %></p>
      <p>Flash cards asnswered correctly <%= category.total_correct_answers_count %></p>
      <p>Flash cards answered incorrectly <%= category.total_incorrect_answers_count %></p>

      <h6>Sub categories <%= category.children.count %></h6>
      <% category.children.each do |sub_category| %>
        <%= render partial: 'stat', locals: { category: sub_category } %>
      <% end %>
    </div>
