
<%= link_to "New", new_admin_plan_path, class: "btn btn-success" %>

<h3>Plans</h3>

<table class="table ">
  <tr>
    <td>Name</td>
    <td>Plans</td>
    <td>Actions</td>
  </tr>
  <% @plans.each do |plan| %>
    <tr>
      <td><%= plan.name %></td>
      <td><%= plan.project.name %></td>
      <td>
        <%= link_to "Edit", edit_admin_plan_path(plan), class: "btn btn-info" %>
        <%= link_to "Delete", admin_plan_path(plan), class: "btn btn-danger", method: :delete, :data => {:confirm => 'Are you sure?', :method => "Delete"} %>
      </td>
    </tr>
  <% end %>
</table>
