<h2>Flash Card Categories</h2>

<%= form_with url: quiz_flash_card_categories_play_path, method: :post do |f| %>
  <% @flash_card_categories.each do |category| %>
    <label class="quiz-flashCardCategory-wrapper" for="categories[<%= category.id %>]">
      <h5><%= category.name %></h5>
      <%= f.check_box "categories[#{category.id}]" %>
    </label>
  <% end %>

  <%= f.submit :play %>
<% end %>
