<h2>Flash Card Categories</h2>

<%= form_with url: quiz_flash_card_categories_play_path, method: :post do |f| %>
  <div class="row m-0 p-0 px-1">
    <% @flash_card_categories.each do |category| %>
      <div class="col-6 col-md-4 p-2">
        <label class="quiz-flashCardCategory-wrapper" for="categories[<%= category.id %>]">
          <h5><%= category.name %></h5>
          <table class="table table-striped">
            <tr>
              <th>Flash Cards</th>
            </tr>
            <tr>
              <td><%= category.flash_cards.count %></td>
            </tr>
          </table>
          <%= render partial: '/quiz/flash_card_stats/category_progress', locals: { category: category } %>
          <%= f.check_box "categories[#{category.id}]" %>
        </label>
      </div>
    <% end %>

    <div class="col-12 p-2">
      <%= f.submit "Play selected", class: "btn btn-success w-100" %>
    </div>
  </div>
<% end %>

<%= form_with url: quiz_flash_card_categories_play_path, method: :post do |f| %>
  <div class="row m-0 p-0 px-1">
    <% @flash_card_categories.each do |category| %>
      <%= f.hidden_field "categories[#{category.id}]", value: "1" %>
    <% end %>

    <div class="col-12 p-2">
      <%= f.submit "Play all", class: "btn btn-success w-100" %>
    </div>
  </div>
<% end %>
