<div class="content-inset">
  <div class="technologyType-container">
    <h1 class="mt-5"><%= @technology.name.capitalize %></h1>
    <hr class="mb-4">

    <% if @technology.description.present? %>
      <p><%= @technology.description %></p>
    <% end %>

    <% if @technology.packages.any? %>
      <h5>Packages</h5>
      <div class="technology-packageContainer">
        <% @technology.packages.each do |package| %>
          <div class="technology-packageWrapper white-container">
            <h6><%= package.name %></h6>
            <p><%= package.description %></p>
            <%= image_tag package&.technology&.icon, class: "feature-icon" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @technology&.icon_high_res&.present? %>
      <%= image_tag @technology.icon_high_res, class: "large-backgroundIcon" %>
    <% end %>

    <div class="technologyShow-projectsFeaturesContainer">
      <div class="technologyShow-projectsFeaturesWrapper">
        <h5 class="my-3">Projects</h5>
        <% if @technology.projects.any? %>
          <% @technology.projects.each do |project| %>
            <div class="technologyShow-projectContainer">
              <%= project.name %>
              <div>
                <%= link_to "Read More", project_path(project), class: "secondary-button" %>
                <%= link_to "Visit Website", project.link, target: "_blank", class: "main-button" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No project examples currently available.</p>
        <% end %>
      </div>

      <div class="technologyShow-projectsFeaturesWrapper">
        <h5 class="my-3">Features</h5>
          <% if @technology.features.any? %>
          <div class="features-container">
            <% @technology.features.each do |feature| %>
              <%= render partial: "/shared/feature", locals: {feature: feature} %>
            <% end %>
          </div>
        <% else %>
          <p>No features currently available.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# Should a project be listed and then all the features listed underneath?? %>

<%# Should add a boolean to a technology if has add_ons. Gems, Packages, js libraies etc. %>
