<ul>
  <li><%= link_to "Descriptions", admin_descriptions_path %></li>
  <li><%= link_to "Features", admin_features_path %></li>
  <li><%= link_to "Plans", admin_plans_path %></li>
  <li><%= link_to "Projects", admin_projects_path %></li>
  <li><%= link_to "Packages", admin_packages_path %></li>
  <li><%= link_to "Technologies", admin_technologies_path %></li>
  <li><%= link_to "Technology types", admin_technology_types_path %></li>
</ul>
<%= link_to "Quiz", quiz_categories_index_path %>
<ul>
  <li><%= link_to "Flash Cards", admin_flash_cards_path %></li>
  <li><%= link_to "Flash Card Categories", admin_flash_card_categories_path %></li>
</ul>
